@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  font-family: var(--font-rubik-sans);
}
.main-color{
  color:#749B3F
}
.bg-main{
  background-color: #749B3F;
}

.code-color{
  background-color: #176D38;
}

.second-color{
  color:#FF6A1A;
}

.button-main{
    background-color: #FF6A1A;
    padding: 12px 32px 12px 32px;
    color: white;
    font-weight: 600;
    border-radius: 8px;
}
@layer components {
  .button-secondary {
    @apply py-2 px-4 bg-white text-[#FF6A1A] border border-[#FF6A1A] rounded-lg 
           font-medium hover:bg-orange-50 transition-colors duration-200;
  }
}

.intro{
    color:#749B3F;
    padding: 6px 15px 6px 15px;
    border-radius: 8px;
     background-color: color-mix(in oklab, #c3ff70 30%, transparent);
    font-weight: 500;
}

.heading{
  font-size: 48px;
  font-weight: 500;

}

.para{
  text-align: center;
  font-size: 14px;
  color: #4A4A52;
}

.header-align{
  display: flex;
  flex-direction: column;
  margin-top: 176px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {

  .intro{
    color:#749B3F;
    padding: 4px 12px 4px 12px;
    border-radius: 8px;
     background-color: color-mix(in oklab, #c3ff70 30%, transparent);
    font-weight: 500;
    font-size: 14px;
}

.heading{
  font-size: 32px;
  font-weight: 500;
  text-align: center;

}

.para{
  text-align: center;
  font-size: 12px;
  color: #4A4A52;
}

.header-align{
  
  margin-top: 76px;
  
}
}