@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  font-family: var(--font-rubik-sans);
}
.main-color{
  color:#749B3F
}

.intro{
    color:#749B3F;
    padding: 6px 8px 6px 8px;
    border-radius: 8px;
     background-color: color-mix(in oklab, #c3ff70 30%, transparent);
    font-weight: 500;


}

